<!DOCTYPE html>
<html lang="en">
<head>
	<title>SlackLord</title>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<body>
  <div id="root">
    <h1>React App goes here.</h1>
  </div>
  <script>
    window.config = {
      CSRFToken: '<%= csrftoken %>',
      websocketURL: '<%= websocketURL %>',
    };
  </script>
  <script src="/static/js/app.js"></script>
</body>
</html>
