<!DOCTYPE html>
<html lang="en">
<head>
	<title>SlackLord</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
  <h1>React App goes here.</h1>
  <a href="/logout">Logout</a>
  <script>
    const CSRFToken = '<%= csrftoken %>';
  </script>
</body>
</html>
