<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Students</h2>
    <ul>
      <li>Chase Brewer</li>
      <li>INSERT HERE</li>
      <li>INSERT HERE</li>
      <li>INSERT HERE</li>
    </ul>
    <p>Visited <%= count %> times</p>
  </body>
</html>
