<!DOCTYPE html> 
<html> 
    <head> 
        <link rel="stylesheet" type="text/css" href="./css/index.css">
    </head> 
    <body>

        <center><h1>Signup for SlackLord</h1></center>
        <div class= 'slackLord_logo'></div>
        <form action='/signup' method="post">
          <label for="fname">First Name:</label>
          <input type="text" id="fname" name="fname">
          <br><br>
          <label for="lname">Last Name:</label>
          <input type="text" id="lname" name="lname">
          <br><br>
          <label for="email">Email Address:</label>
          <input type="text" id="email" name="email">
          <br><br>
          <label for="password">Password:</label>
          <input type="password" id="pwd" name="pwd">
          <br><br>
          <label for="password_confirmation">Password:</label>
          <input type="password" id="pwd2" name="pwd2">
          <br><br>
          <center><input type="submit" value="Submit"></center>
        </form>
        <p></p>
    </body> 
</html> 